html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.salesboard-container,
.sign-in-container {
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.salesboard-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.sign-in-container {
  position: absolute;
  z-index: 2;
  top: 70%;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -50%);
  background-color: #9e4770;
  padding-bottom: 3em;
  border-radius: 10px;
}

.signin-fields {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

input {
  width: 300px;
  height: 35px;
  border-radius: 10px;
  padding: 0.3em;
  color: #000000;
  border: none;
}

.sign-in-toggler-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.toggler-container {
  position: relative;
  width: 60px;
  height: 25px;
  border-radius: 20px;
  padding: 0.1em;
  background-color: #201a23;
  margin-left: 0.5em;
}

.toggler {
  position: absolute;
  margin-top: 0.2em;
  width: 22px;
  height: 20px;
  border-radius: 100%;
}

.sign-out-save-btn-container,
.toggle-area {
  display: flex;
  align-items: center;
  height: 50px;
}

.sign-out-btn {
  width: 100px;
  height: 25px;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  margin-right: 0.5em;
}

.save-btn {
  width: 30px;
  height: 25px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 1rem;
  margin-right: 0.5em;
}

h1 {
  font-size: 3rem;
  margin-left: 0.7em;
  margin-bottom: 0.3em;
}

.employee-img,
.signin-img {
  width: 219px;
  border-radius: 50%;
  border: 6px solid #44354a;
}

.employee-img {
  margin-bottom: 0.7em;
}

.signin-img {
  margin-bottom: 1em;
}

.sales-btn-container {
  display: flex;
  margin-top: 1em;
}

button {
  background: #9e4770;
  width: 180px;
  height: 80px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  margin-bottom: 0.5em;
}

button:hover,
button:focus {
  cursor: pointer;
}

.sales-btn-container button:first-child {
  margin-right: 0.6em;
}

.signin-fields input:first-child {
  margin-bottom: 1em;
}

.signin-fields + button {
  margin-top: 1em;
  height: 50px;
  color: #ffffff;
  background-color: #201a23;
}

.signin-fields + button:hover {
  background-color: #0ea5e9;
}

h3 {
  font-size: 1.85rem;
  text-align: center;
  margin-bottom: 0.3em;
}

.sales-achievements-container {
  width: 805px;
  height: 67px;
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  background-color: #44354a;
  border-radius: 50px;
  overflow: auto;
}

.sales-achievements {
  width: 755px;
}

.revenue-commisions-container {
  display: flex;
  margin-top: 1.5em;
}

.total-revenue-commission {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  width: 400px;
  height: 86px;
  background-color: #44354a;
  border-radius: 50px;
  margin-top: 0.3em;
  font-size: 2.5rem;
  font-weight: 700;
}

.total-revenue {
  margin-right: 0.5em;
}

.revenue p,
.commision p {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.875rem;
}

.revenue,
.commision {
  display: flex;
  flex-direction: column;
  align-items: center;
}
